# Entorno Python
venv*/
__pycache__/
*.pyc

# Salidas de entrenamiento y pesos
runs/
*.pt
*.onnx
*.tflite

# Artefactos generados
*.log
classify_preview.jpg
detect_preview.jpg
calibration_image_sample_data_*.npy

# macOS
.DS_Store
